<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Festival Together Page">
    <meta name="author" content="Fortuneer">

    <title>Festival Together</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.css" rel="stylesheet">


</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Festival Together</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="">Festival</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="">Group</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="">SignUp</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Group -->
<section class="page-section" id="group">
    <div class="group-container">
        <div class="row">
            <ul class= "group-list" >
                <div class = "form-group">
                    <li class="group-line-by">
                        <div class = "row">
                            <div class = "col-md-3">
                                <div class="group-image">
                                    <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                                </div>
                            </div>
                            <div class = "col-md-9">
                                <div class="group-panel">
                                    <div class="group-heading">
                                        <h4>크루모집</h4>
                                        <h4 class="subheading">해시태그 부분</h4>
                                    </div>
                                </div>
                                <div class="group-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                             </div>
                        </div>
                    </li>
                </div>
                <div class = "form-group">
                    <li class="group-line-by">
                        <div class = "row">
                            <div class = "col-md-3">
                                <div class="group-image">
                                    <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                                </div>
                            </div>
                            <div class = "col-md-9">
                                <div class="group-panel">
                                    <div class="group-heading">
                                        <h4>크루모집</h4>
                                        <h4 class="subheading">해시태그 부분</h4>
                                    </div>
                                </div>
                                <div class="group-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class = "form-group">
                    <li class="group-line-by">
                        <div class = "row">
                            <div class = "col-md-3">
                                <div class="group-image">
                                    <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                                </div>
                            </div>
                            <div class = "col-md-9">
                                <div class="group-panel">
                                    <div class="group-heading">
                                        <h4>크루모집</h4>
                                        <h4 class="subheading">해시태그 부분</h4>
                                    </div>
                                </div>
                                <div class="group-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class = "form-group">
                    <li class="group-inverted">
                        <div class = "row">
                            <div class = "col-md-3">
                                <div class="group-image">
                                    <img class="rounded-circle img-fluid" src="img/about/1.jpg" alt="">
                                </div>
                            </div>
                            <div class = "col-md-9">
                                <div class="group-panel">
                                    <div class="group-heading">
                                        <h4>크루모집</h4>
                                        <h4 class="subheading">해시태그 부분</h4>
                                    </div>
                                </div>
                                <div class="group-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="container">
                <p class="text-dark">
                    Festival Together<br><br>
                    대표: 양훈모, 서진원, 이혜린, 박주연<br>
                    주소: 서울특별시 중구 동국대학교 신공학관<br>
                    Festival Together은 최신 페스티벌 정보를 수집하기 위해 노력하고 있으며 정보 제공에 따른 법적 책임을 지지 않습니다.
                </p>
                <span class="copyright">Copyright &copy; Your Website 2019</span>
            </div>
        </div>
    </div>
</footer>




<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>

</body>

</html>
